In [5]:
import os
import pandas as pd
data_folder=os.path.join("E:/allFile/Python_Project/BIGDATA/dataAnalysis","Data","ml-100k")
ratings_filename=os.path.join(data_folder,"u.data")
all_ratings=pd.read_csv(ratings_filename,delimiter="\t",header=None,names=["UserID","MovieID","Rating","Datetime"])
all_ratings["Datetime"]=pd.to_datetime(all_ratings['Datetime'],unit='s')
all_ratings[:100]

    UserID  MovieID  Rating            Datetime
0      196      242       3 1997-12-04 15:55:49
1      186      302       3 1998-04-04 19:22:22
2       22      377       1 1997-11-07 07:18:36
3      244       51       2 1997-11-27 05:02:03
4      166      346       1 1998-02-02 05:33:16
5      298      474       4 1998-01-07 14:20:06
6      115      265       2 1997-12-03 17:51:28
7      253      465       5 1998-04-03 18:34:27
8      305      451       3 1998-02-01 09:20:17
9        6       86       3 1997-12-31 21:16:53
10      62      257       2 1997-11-12 22:07:14
11     286     1014       5 1997-11-17 15:38:45
12     200      222       5 1997-10-05 09:05:40
13     210       40       3 1998-03-27 21:59:54
14     224       29       3 1998-02-21 23:40:57
15     303      785       3 1997-11-14 05:28:38
16     122      387       5 1997-11-11 17:47:39
17     194      274       2 1997-11-14 20:36:34
18     291     1042       4 1997-09-21 09:42:24
19     234     1184       2 1998-04-08 23:47:17
20     119      392       4 1998-01-30 16:13:34
21     167      486       4 1998-04-16 14:54:12
22     299      144       4 1997-10-26 15:55:20
23     291      118       2 1997-09-21 09:24:38
24     308        1       4 1998-02-17 17:28:52
25      95      546       2 1997-11-10 21:16:06
26      38       95       5 1998-04-13 01:14:54
27     102      768       2 1998-01-02 13:40:50
28      63      277       4 1997-10-01 23:10:01
29     160      234       5 1997-10-14 20:33:05
..     ...      ...     ...                 ...
70     189      512       4 1998-04-22 20:41:42
71     243       15       3 1997-11-20 00:57:20
72      92     1049       1 1998-03-18 20:10:26
73     246      416       3 1998-01-16 03:57:27
74     194      165       4 1997-11-14 22:32:03
75     241      690       2 1998-02-12 02:11:22
76     178      248       4 1997-12-22 20:52:34
77     254     1444       3 1998-02-03 03:12:38
78     293        5       3 1998-03-03 06:29:36
79     127      229       5 1998-01-09 16:54:27
80     225      237       5 1997-11-14 20:34:03
81     299      229       3 1997-10-30 06:20:29
82     225      480       5 1997-11-14 20:52:28
83     276       54       3 1997-09-20 21:30:25
84     291      144       5 1997-09-21 09:44:51
85     222      366       4 1997-10-30 03:49:41
86     267      518       5 1997-11-08 06:49:33
87      42      403       3 1997-12-03 00:24:44
88      11      111       4 1998-04-06 23:04:22
89      95      625       4 1998-03-03 19:46:52
90       8      338       4 1997-11-12 19:11:13
91     162       25       4 1997-10-23 19:39:33
92      87     1016       4 1997-11-18 18:03:14
93     279      154       5 1997-09-26 17:51:31
94     145      275       2 1998-01-23 12:11:45
95     119     1153       5 1997-09-20 18:46:38
96      62      498       4 1997-11-12 22:30:48
97      62      382       3 1997-11-12 22:58:57
98      28      209       4 1997-12-12 21:13:34
99     135       23       4 1997-11-18 12:56:05

[100 rows x 4 columns]